.card {
    background: hsl(216, 50%, 16%);
    padding:1rem;
    width: 350px;
    height: auto;
    border-radius: 16px;
}


.card-image {
    width: 100%;
    height: 280px;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.card-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.card-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: auto;
        
    }
    
}